<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Bhavana.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/bhavana-s-j-2aaa10162/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/sjbhavana97" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:sjbhavana1997@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/thelensculture_/?igsh=MXNldG5haW45d2kzYQ%3D%3D#" target="_blank" class="a-green">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
