<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p><span class="default-highlight">English</span></p>
        <p><span class="default-highlight">Kannda</span></p>
        <p><span class="default-highlight">Telugu</span></p>
        <p><span class="default-highlight">Hindi</span></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2019 <strong><span class="default-highlight">Computer Science and Engineering</span></strong> - Bachelor's Degree</p>
        <ul>
          <li> Visvesvaraya Technological University</li>
        </ul>
        <ul>
          <li> Kalpataru Institute of Technology, Tiptur</li>
        </ul>
        <ul>
          <li> CGPA | 8.7 </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Resume</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        Please download my resume, to have a look!
      </div>
      <div class="accordion-text">
      <button> 
        <a href="../../assets/S J Bhavana Resume.pdf"
         download="SJBhavana-resume" 
         class="a-green">
         Download Resume
        </a>
      </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Career Highlights</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <ul>
          <li> Experienced in e-Learning and Finance Domains, delivering scalable UI solutions.</li>
        </ul>
        <ul>
          <li> Developed dynamic, configurable templates, enabling the creation of 150+ engagers and driving engagement from 3+ million users.
          </li>
        </ul>
        <ul>
          <li> Optimized development processes, reducing effort by 70% for new personal engagement features.</li>
        </ul>
        <ul>
          <li>Authored team onboarding & implementation documentation, boosting productivity by 50% and minimizing manual interventions.</li>
        </ul>
        <ul>
          <li>Proactively contributed business insights, leading to a 50% increase in CTR and performance of engagement tools.</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Work Experience</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <div><strong><span class="default-highlight">Fidelity</span></strong></div>
        <div class="role-year">
        <div>Software Engineer </div>
        <div> Nov 2022 | Current</div>
        </div>
        <ul>
          <li>
            Develop and enhance UI components for financial planning and personalization, delivering dynamic, 
            data-driven experiences. Implement configurable templates for tailored insights, optimize front-end 
            performance, and integrate APIs for real-time recommendations. Collaborate with cross-functional teams 
            to refine personalization strategies and improve user engagement. Ensure accessibility compliance and
            build reusable UI components for consistency across applications.
          </li>
        </ul>
      </div>
      <div class="accordion-text">
        <div><strong><span class="default-highlight">Infosys | Infosys Wingspan</span></strong></div>
        <div class="role-year">
        <div>Senior Systems Engineer </div>
        <div> Oct 2021 | Oct 2022 </div>
        </div>
        <ul>
          <li>
            Led a team to enhance Dashboard Builder, Report Builder, and Learning Analytics, 
            developing dynamic UIs for flexible dashboards, real-time editing, and data visualization
            through interactive charts, tables, and customizable reports.
          </li>
        </ul>
      </div>
      <div class="accordion-text">
        <div><strong><span class="default-highlight">Infosys | Infosys Wingspan</span></strong></div>
        <div class="role-year">
        <div>Systems Engineer </div>
        <div> Jan 2020 | Oct 2021 </div>
        </div>
        <ul>
          <li>
            Replacing static dashboards with dynamic dashboards.
            Allows user to generate dashboards as and when required.
            Different set of dashboards can be drafted, published and archived.
          </li>
        </ul>
      </div>
      <div class="accordion-text">
        <div><strong><span class="default-highlight">Infosys</span></strong></div>
        <div class="role-year">
        <div>Systems Engineer Trainee</div>
        <div> Oct 2019 | Jan 2020 </div>
        </div>
        <ul>
          <li>
            Undergone Infosys Training in Generic Software Development
            and specialized in MERN stack (MongoDB, Express, React and Node) and Basic Python.
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tooltip tech-cell">
          <i class="devicon-angular-plain colored"></i>
          <span class="tooltiptext">Angular</span>
        </div>
        
        <div class="tooltip tech-cell">
          <i class="devicon-typescript-plain colored"></i>
          <span class="tooltiptext">TypeScript</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-javascript-plain colored"></i>
          <span class="tooltiptext">JavaScript</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-graphql-plain colored"></i>
          <span class="tooltiptext">GraphQL</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-html5-plain colored"></i>
          <span class="tooltiptext">HTML5</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-css3-plain colored"></i>
          <span class="tooltiptext">CSS3</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-python-plain colored"></i>
          <span class="tooltiptext">Python</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-git-plain colored"></i>
          <span class="tooltiptext">GitBash</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-github-original colored"></i>
          <span class="tooltiptext">Github</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-jira-plain colored"></i>
          <span class="tooltiptext">Jira</span>
        </div>
        <div class="tooltip tech-cell">
          <i class="devicon-vscode-plain colored"></i>
          <span class="tooltiptext">VS Code</span>
        </div>
        
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>