<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Crafting Scalable Frontends, One Component at a Time.</h1>
        <h2 class="home-author">S J Bhavana, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          I’m a Web Application Developer with over 5 years of experience in the software industry. I’m passionate about building efficient, scalable, and visually appealing user interfaces. Known for being resourceful, adaptable, and detail-oriented, I take pride in delivering high-quality solutions while maintaining a balanced approach to both life and career.
        </blockquote>
        <div class="button-flex">
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
        <button class="resume-download"> 
          <a href="../../assets/S J Bhavana Resume.pdf"
           download="SJBhavana-resume" 
           class="a-green">
          > Download Resume
          </a>
        </button>
        </div>
      </div>
    </div>
  </div>